.sidenav {
    animation: transitionIn 3s;
}


@keyframes transitionIn {
    0% {
        opacity:0;
        left: -20vw;
    }
    50% {
        opacity: 0;
        left: -20vw;
    }

    100% {
        opacity: 0.7;
        left: 0vw;
    }
}
